span.choice span.suggestPos {
    position: relative; 
    display: inline-block;
}
span.choice span.current {
    display: inline-block;
    border-bottom: 1px solid lightgrey; 
    padding: 2px 20px 2px 2px; 
    min-width: 80px;
}
span.choice span.current:empty {
    padding: 2px 2px 2px 2px; 
}
span.choice span.current:empty:after {
    content: 'pls. select';
    color: lightgrey;
}
span.choice span.clear {
    cursor: pointer; 
    font-size: 50%;
    line-height: 15px;
    display: inline-block;
    height: 14px;
    width: 14px;
    text-align: center;
    vertical-align: middle;
    margin-left: -14px; 
    margin-top: -2px;
    border-radius: 8px; 
    background: grey; 
    color: white;
}
span.choice span.clear:after {
    content: 'X';
}
span.choice span.current:empty+span.clear {
    display: none;
}
span.choice ul.suggestContent {
    display: none; 
    position: absolute;
    list-style-type: none; 
    left: 0; 
    top: 100%; 
    margin: 0; 
    padding: 0;
}
span.choice ul.suggestContent:before { /* "arrow" */
    display: block;
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent transparent darkgrey transparent;
    border-width: 0 5px 5px 5px;
    margin-left: 49%; /* fallback */
    margin-left: calc(50% - 5px);
}
span.choice ul.suggestContent li {
    cursor: pointer; 
    padding: 2px; 
    white-space: nowrap;
}
span.choice ul.suggestContent li.sel {
    font-weight: bold;
}
span.choice span.suggestPos:hover ul.suggestContent, 
span.choice span.suggestPos:focus ul.suggestContent {
    display: block;
}