.link {
  cursor: pointer;
}

.filterbar {
    float: right;
}
.filterbar .fa-filter {
    margin-right: 3px;
}
.filterbar [type="search"] {
    -webkit-appearance: searchfield;
}
.filterbar [type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.table .link.fa-unsorted {
    color: darkgrey;
}
